
#debug {
    color: #f00;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#fullScreenButton {
    position: absolute;
    display: block;
    z-index: 99;
    left: 50%;
    top: 50%;
    background: url(../images/fullScreenButton.png); 
    background-size:contain; 
    width:128px; 
    height:128px; 
    border: 0; 
}